@charset "utf-8";

/* ******************  서브공통 ********************** */
/* -------- 에러페이지 -------- */
@media all and ( max-width:800px ){
	.error-wrap .err-tit{font-size:55px}
	.error-wrap .err-tit:after{top:7px;right:10px;background-size:75%}
	.error-wrap .err-tit.type:after{background-size:100px}
	.error-wrap .err-desc{font-size:35px}
	.error-wrap .btn-err{font-size:18px;line-height:50px;width:250px}
	.err-desc-box{max-width:90%}
	.err-desc-box .err-de-tit, .err-desc-box .err-de{font-size:23px}
}
@media all and ( max-width:480px ){
	.error-wrap .err-tit{font-size:40px;padding-right:80px}
	.error-wrap .err-tit:after{top:0;right:0;background-size:60px;width:60px;height:60px}
	.error-wrap .err-tit.type{padding-right:90px}
	.error-wrap .err-tit.type:after{top:-10px;background-size:70px;width:70px;height:70px}
	.error-wrap .err-desc{font-size:27px}
	.error-wrap .btn-err{font-size:15px;line-height:40px;width:170px}
	.err-desc-box .err-de-tit, .err-desc-box .err-de{font-size:17px}
	.err-desc-box .err-de-tit{width:70px}
}
/* -------- margin -------- */
@media all and ( max-width: 800px ){
	.mt120{margin-top:80px}
}
@media all and ( max-width: 480px ){
	.mt120{margin-top:30px}
}
/* -------- 스크롤 가이드 추가 -------- */
.stockTbl-scrollbar-cover{display:none;}

@media all and ( max-width: 800px ){
	.stockTbl-wrapper{position:relative; width:100%; overflow-x:auto;}
	.stockTbl-wrapper .stockTbl{width:800px}
	.stockTbl-scrollbar-cover{display:block; position:absolute; top:0px; left:0px; right:0px; bottom:0px; background-color:rgba(0,0,0,0.5)}
	.stockTbl-scrollbar-cover .scroll-cover-txt{position:absolute; top:50%; left:0; width:100%; margin-top:-30px;text-align:center; color:#fff; font-size:300; font-size:15px;}
	.stockTbl-scrollbar-cover .scroll-cover-txt.top{top:20%}
	.stockTbl-scrollbar-cover .scroll-cover-txt i{font-size:30px; display:block; margin-bottom:20px; }
	.stockTbl-wrapper.loan5-tbl-con tbody th{font-size:14px}
}
/* -------- 공통 스크롤바  -------- */
@media all and (max-width:1220px){
	.custom-scrollbar-wrapper .scroll-object{max-width:100%;}
}

/* -------- 공통 Fixed Move Tab -------- */
@media all and (max-width:1220px){
	/* .fixed-move-tab-list.fixed{top:80px;} */
}
@media all and (max-width:800px){
	.fixed-move-tab-list-wrapper,
	.fixed-change-tab-list-wrapper{height:44px; }
	.fixed-move-tab-list,
	.fixed-change-tab-list{height:44px;}
	.fixed-move-tab-link-wrapper{margin-bottom:40px}
}
@media all and (max-width:480px){
	.fixed-move-tab-list.fixed,
	.fixed-change-tab-list.fixed{top:34px;}
	/* .fixed-move-tab-link-list.fixed{top:0;} */
}

/* -------- 공통 :: 버튼 -------- */
@media all and (max-width:800px){
    .cm-button-style04{}
    .cm-button-style04 strong{font-size:11px; text-indent:7px}
    .cm-button-style04 i{line-height:60px;}
	/* 버튼 02 */
	.business-btn-box{margin-top:42px;}
	.business-btn-box a{width: 70%; max-width:350px; height: 49px; }
	.business-btn-box a em {font-size:13px;line-height:18px; padding: 0 5px;}
}

/* -------- 공통 테이블 -------- */
@media all and (max-width:800px){
	.sub-tbl th, .sub-tbl td  {font-size: 13px; line-height: 20px;}
	.sub-tbl01 tbody th {padding: 0 10px; }
	.sub-tbl01 tbody td { padding:7px 10px; }
	.sub-tbl02 thead th {padding:10px 0;}
	.sub-tbl02 thead td {padding:10px 0;}
}

/* -------- 공통 Box Tab :: sub-tab01-list -------- */
@media all and (max-width:1024px){
	.sub-tab01-list li a {font-size:16px;}
}
@media all and (max-width:800px){
	.sub-tab01 {margin-bottom:50px;} 
	.sub-tab01-list.menu02 {width:50%;}
	.sub-tab01-list.menu04 {width:80%;}
	.sub-tab01-list li:before {height: 17px; margin-top:-7.5px;}
	.sub-tab01-list li a {font-size:13px;}
	.sub-tab01-list li span {height:40px;}
}
@media all and (max-width:480px){
	.sub-tab01-list {width:100%;}
	.sub-tab01-list.menu02,.sub-tab01-list.menu04 {width:100%;}
}

/* -------- 공통 Box Tab :: sub-tab02-list -------- */
@media all and (max-width: 800px){
	.sub-tbl02-box{float:none; width:auto;}
	.sub-tbl02-box:last-child th{display:none;}
	.sub-tab02-list li span {height: 43px; }
	.sub-tab02-list li span em {font-size:13px; }
}

/* -------- 공통 :: 작은 타이틀 -------- */
@media all and (max-width:800px){
	.small-tit {font-size:15px; margin-bottom: 12px;}
	.small-tit span {padding-bottom:4px; }
	.small-tit span:before {height:1px;}
	.sub-top-tit {font-size:28px; margin-bottom: 30px;}
	.sub-top-tit.type{font-size:23px}
}
@media all and (max-width:480px){
	.sub-top-tit {margin-bottom:15px;}
}


/* ******************  BUSINESS ********************** */
/* -------- Business :: 공통 -------- */
@media all and (max-width:1220px){
	/* 상단 비주얼 */
	.loan-top-visual{padding:50px;background-size:cover !important}
	.loan-top-visual-txt1{font-size:24px}
	.loan-top-visual-txt2{font-size:18px}
	/* 원형 리스트 */
	.circle-list-con li{font-size:22px}
}
@media all and ( max-width:1024px ){
	/* 원형 리스트 */
	.circle-list-con li{font-size:18px}
	.circle-list-con li > div > span{padding:0 30px}
}
@media all and (max-width:800px){
	/* 컨텐츠 박스 */
	.content-box{padding-bottom:50px}
	.content-box + .content-box{padding-top:50px}
	/* 상단 비주얼 */
	.loan-top-visual{padding:30px;}
	.loan-top-visual p{letter-spacing:0}
	.loan-top-visual-txt1{font-size:18px}
	.loan-top-visual-txt2{width:95%;font-size:14px;}
	/* 원형 리스트 */
	.circle-list-con,.circle-list-con.type{margin-top:30px}
	.circle-list-con li,.circle-list-con.type li{width:46%;padding-bottom:46%;margin:2%;font-size:24px}
	.circle-list-con li > div > span,.circle-list-con.type li > div > span{padding:0 50px}
	/* arrow */
	.ico-arrow-box{margin:50px 0;}
	/* 서브 타이틀 텍스트 */
	.loan-sub-tit{font-size:17px;line-height:60px}
	/* 구성도 */
	.config-list dt,.config-list dd{font-size:16px;line-height:40px}
}
@media all and (max-width:600px){
	/* 원형 리스트 */
	.circle-list-con li,.circle-list-con.type li{font-size:20px}
	.circle-list-con li > div > span,.circle-list-con.type li > div > span{padding:0 30px}
}
@media all and (max-width:480px){
	#loanContent{padding-bottom:0}
	/* 상단 비주얼 */
	.loan-top-visual{padding:30px;}
	.loan-top-visual-txt1{line-height:1.4;margin-bottom:18px;font-size:15px}
	.loan-top-visual-txt2{font-size:12px;}
	/* 원형 리스트 */
	.circle-list-con li,.circle-list-con.type li{font-size:14px}
	.circle-list-con li > div > span,.circle-list-con.type li > div > span{padding:0 20px}
	/* arrow */
	.ico-arrow-box{margin:30px 0;}
	/* 서브 타이틀 텍스트 */
	.loan-sub-tit{font-size:16px;line-height:40px}
	/* 구성도 */
	.config-list dt,.config-list dd{font-size:14px;line-height:35px}
	.config-list{column-gap:10px;margin-top:10px}
	.config-list li{margin-bottom:10px}
}
/* -------- Business :: 플랫폼사업 -------- */
@media all and (max-width:1220px){
	.cloud-con .cloud-ico{margin:20px 0}
	.cloud-con .txt-type2{font-size:18px}
	.cloud-con .cloud-inner{padding:35px 25px 20px}
	.cloud-con .cloud-ico img{height:90px}
}
@media all and (max-width:1024px){
	.platform-con .plat-inner-con .plat-tit{font-size:22px}
	.platform-con .plat-inner-con .plat-ico img{height:80px}
}
@media all and (max-width:800px){
	.platform-con{margin:0}
	.platform-con.type{margin-top:20px}
	.platform-con > li{float:none;width:100%;margin:0}
	.platform-con .plat-inner-con{margin-top:10px}
	.platform-con .plat-img{height:250px;background-size:cover}
	.platform-con .plat-inner-con .plat-ico{margin:15px 0}
	.platform-con .plat-inner-con > li > div{padding:30px 15px 20px;height:430px}
	.platform-con .plat-inner-con .plat-logo{bottom:20px;left:15px;right:15px}
	.cloud-con > li{float:none;width:100%;margin:10px 0 0}
	.cloud-con .cloud-inner{height:auto;padding:25px}
	.cloud-con .txt-type2{text-align:center;font-size:15px;padding-left:0}
	.cloud-con .txt-type2 span{position:static;margin-right:5px}
	.cloud-con .cloud-tit{font-size:20px}
	.cloud-con .cloud-ico img{height:60px}
	.cloud-logo-con{padding:20px 0}
	.cloud-logo-con li{padding:0 10px}
	.cloud-logo-con li:after{display:none}
}
@media all and (max-width:480px){
	.platform-con .plat-img{height:80px}
	.platform-con .plat-inner-con{margin:0}
	.platform-con .plat-inner-con > li{float:none;margin:5px 0 0;width:100%}
	.platform-con .plat-inner-con .plat-tit{font-size:17px}
	.platform-con .plat-inner-con .plat-ico img{height:60px}
	.platform-con .plat-inner-con > li > div{height:auto;padding:15px 15px 10}
	.platform-con .plat-inner-con .plat-logo{position:static;margin-top:20px;padding-top:5px}
	.cloud-con .cloud-inner{padding-left:10px;padding-right:10px}
	.cloud-con .txt-type2{font-size:14px}
	.cloud-logo-con{display:block}
	.cloud-logo-con li{display:block;margin-top:10px;width:auto}
	.cloud-logo-con li img{max-width:none}
}

/* -------- Business :: 개발실적 -------- */
@media all and (max-width:1024px){
	.performance-list-con > dl > dt{font-size:28px}
	.performance-list-con > dl > dt:after{bottom:12px;left:105px;height:2px}
	.performance-list-con > dl > dd{padding-left:180px}
	.performance-list-con > dl > dd ul{font-size:18px}
	.performance-list-con > dl > dd .corp:after{top:10px;width:6px;height:6px}
	.view-btn-box a{width:300px;line-height:80px}
}
@media all and (max-width:800px){
	.performance-list-con > dl > dt{position:relative;font-size:24px}
	.performance-list-con > dl > dt:after{width:15px;bottom:8px;left:78px}
	.performance-list-con > dl > dd{padding-left:0}
	.performance-list-con > dl > dd ul{margin-top:20px;font-size:14px}
	.performance-list-con > dl > dd li{padding:10px 16px 11px}
	.performance-list-con > dl > dd .corp{padding:0 12px}
	.performance-list-con > dl > dd .corp:after{top:8px;width:3px;height:3px}
	.view-btn-box a{width:260px;line-height:60px;font-size:15px}
}
@media all and (max-width:480px){
	#performanceContent{padding-bottom:30px}
	.performance-list-con{padding-top:20px}
	.performance-list-con > dl > dt{font-size:20px}
	.performance-list-con > dl > dd ul{margin-top:20px;font-size:12px}
	.view-btn-box{margin-top:40px}
	.view-btn-box a{width:100%;line-height:50px;font-size:13px}
}

/* -------- Business :: 여신사후관리시스템 -------- */
@media all and (max-width:1024px){
	/* 텍스트 박스2 */
	.loan-txt-box2 ul li{font-size:18px}
}
@media all and (max-width:800px){
	/* 텍스트 박스 */
	.loan-txt-box ul li,.loan-txt-box p{font-size:17px}
	.loan-txt-box ul li span{line-height:40px}
	.loan-txt-box p{margin-top:12px;line-height:60px}
	/* 텍스트 박스2 */
	.loan-txt-box2 ul{margin:10px -1% 0}
	.loan-txt-box2 ul li{width:48%;margin:0 1% 10px;font-size:16px;}
	/* 특징 및 장점 */
	.biz-list-con dt{font-size:21px;padding-left:48px}
	.biz-list-con dd{padding-left:105px}
	.biz-list-con dd p{font-size:19px}
	.biz-list-con dd p:before{top:15px}
}
@media all and (max-width:480px){
	/* 텍스트 박스 */
	.loan-txt-box ul{margin:0}
	.loan-txt-box ul li,.loan-txt-box p{font-size:12px}
	.loan-txt-box ul li span{line-height:30px}
	.loan-txt-box p{margin-top:8px;line-height:40px}
	/* 텍스트 박스2 */
	.loan-txt-box2 ul{margin:10px 0 0}
	.loan-txt-box2 ul li{width:100%;margin:-1px 0 0}
	.loan-txt-box2 ul li span{font-size:14px;line-height:40px}
	/* 특징 및 장점 */
	.biz-list-con dt{font-size:18px;padding:13px 0 11px 20px}
	.biz-list-con dt span{margin-right:10px}
	.biz-list-con dd{padding:15px 10px 19px 24px}
	.biz-list-con dd p{font-size:16px;}
	.biz-list-con dd p:before{top:12px}
}
/* -------- Business :: 연체종합관리시스템 -------- */
@media all and (max-width:1220px){
	/* 원형 리스트 */
	.circle-list-con.type ul li br{display:none}
	/* 세부사항 */
	.card-list-con dl dt{font-size:22px}
	.card-list-con dl dd{font-size:18px}
}
@media all and (max-width:1024px){
	/* 세부사항 */
	.card-list-con{margin-left:-1%;margin-right:-1%}
	.card-list-con > li{width:48%;margin-left:1%;margin-right:1%}
}
@media all and (max-width:800px){
	/* 세부사항 */
	.card-list-con dl dt{font-size:20px}
	.card-list-con dl dd{font-size:16px}
	/* 주요고객 및 이용가능 기관 */
	.loan-bottom-txt{margin:30px -1% 0}
	.loan-bottom-txt li{width:48%;margin:0 1%;font-size:18px;line-height:40px}
}
@media all and (max-width:480px){
	/* 세부사항 */
	.card-list-con{margin:20px 0 0}
	.card-list-con > li{float:none;width:100%;margin:20px 0 0}
	.card-list-con dl{min-height:auto;padding-bottom:28px}
}
/* -------- Business :: 조기경보시스템 -------- */
@media all and (max-width:1220px){
	/* 전체업무 구성도 */
	.loan-tbl-con td br{display:none}
}
@media all and (max-width:1024px){
	/* 전체업무 구성도 */
	.loan-tbl-con th{width:24%;font-size:20px;line-height:30px}
	.loan-tbl-con th span{font-size:30px;margin-right:10px}
	.loan-tbl-con th em{line-height:30px}
	.loan-tbl-con td{padding-left:3%;font-size:16px}
	.loan-tbl-con td br{display:none}
	/* 기대효과 */
	.card-list-con2 li{font-size:18px}
}
@media all and (max-width:800px){
	/* 전체업무 구성도 */
	.loan-tbl-con th{width:30%;font-size:16px}
	.loan-tbl-con th span{font-size:24px}
	.loan-tbl-con td{height:80px;padding-left:20px;font-size:14px}
	/* 기대효과 */
	.card-list-con2{display:block;margin:0}
	.card-list-con2 li{display:block;width:auto;height:auto;margin-top:15px;padding:30px}
}
@media all and (max-width:480px){
	/* 전체업무 구성도 */
	.loan-tbl-con th{font-size:14px}
	.loan-tbl-con th span{margin-right:5px;font-size:20px}
	.loan-tbl-con td{font-size:13px}
}
/* -------- Business :: 손부실률정보시스템 -------- */
@media all and (max-width:1024px){
	/* 텍스트 박스 */
	.loan-txt-box.type ul li,.loan-txt-box.type p{font-size:18px}
	/* 전체업무 구성도 */
	.system-list-con.type dl dt{min-height:70px;font-size:20px}
	.system-list-con.type dl dd{min-height:48px;font-size:18px}
}
@media all and (max-width:800px){
	.sub-txt{font-size:18px}
	/* 텍스트 박스 */
	.loan-txt-box.type ul li{float:none;width:auto;margin-top:12px}
	.loan-txt-box.type ul li,.loan-txt-box.type p{font-size:18px}
	.loan-txt-box.type p{padding:10px}
	/* 주요기능 및 특징 */
	.system-list-con dl dt{min-height:70px;font-size:20px}
	.system-list-con dl dd{min-height:48px;font-size:18px}
	/* 전체업무 구성도 */
	.system-list-con.type li{float:none;width:100%;margin:10px 0 0}
	.system-list-con.type dl dt{min-height:40px;font-size:16px}
	.system-list-con.type dl dd{min-height:34px;font-size:14px}
	/* 기대효과 및 활용방안 */
	.info-tbl-con table th{font-size:20px;width:120px}
	.info-tbl-con table td{padding:20px 10px 20px 20px}
	.info-tbl-con .tbl-txt-list li{font-size:16px}
	.info-tbl-con .tbl-txt-list > li:after{top:10px}
	.info-tbl-con .tbl-txt-list > li > ul li:after{top:9px}
}
@media all and (max-width:480px){
	.sub-txt{font-size:15px}
	/* 텍스트 박스 */
	.loan-txt-box.type ul li,.loan-txt-box.type p{margin:5px 0;font-size:14px}
	.loan-txt-box.type p{padding:8px 10px}
	/* 주요기능 및 특징 */
	.system-list-con li{float:none;width:100%;margin:10px 0 0}
	.system-list-con dl dt{min-height:40px;font-size:16px}
	.system-list-con dl dd{min-height:34px;font-size:14px}
	.system-list-con br{display:none}
	/* 기대효과 및 활용방안 */
	.info-tbl-con{margin-top:40px}
	.info-tbl-con table th{font-size:16px;width:90px}
	.info-tbl-con .tbl-txt-list li{font-size:13px}
	.info-tbl-con .tbl-txt-list > li{padding-left:10px}
	.info-tbl-con .tbl-txt-list > li:after{top:7px;width:5px}
	.info-tbl-con .tbl-txt-list > li > ul li:after{top:8px;width:3px;height:3px}
	.info-tbl-con .tbl-txt-list > li > ul li{padding-left:8px}
}
/* -------- Business :: 손부실률정보시스템 -------- */
@media all and (max-width:1220px){
	.circle-list-con.type li strong{font-size:18px}
}
@media all and (max-width:1024px){
	.circle-list-con.type li strong{font-size:16px}
	.circle-list-con.type li br{display:none}
}
@media all and (max-width:800px){
	.loan-txt-box.type p{}
}
@media all and (max-width:480px){
	.circle-list-con.type li strong{margin-top:5px;font-size:12px}
	.circle-list-con li > div{border-radius:0}
	.circle-list-con.type li > div > span{padding:0 10px}
}
/* -------- Business :: 재정기금관리시스템 -------- */
@media all and (max-width:1220px){
	/* 기대효과 */
	.loan5-tbl-con thead th{font-size:18px}
	.loan5-tbl-con tbody th{font-size:20px}
	.loan5-tbl-con td{font-size:16px}
	.loan5-tbl-con img{width:80%}
}
@media all and (max-width:1024px){
	/* 전체업무 구성도 */
	.loan5-list-con > li{font-size:18px}
	.loan5-list-con > li:nth-child(1) dl,
	.loan5-list-con > li:nth-child(2) dl,
	.loan5-list-con > li:nth-child(3) dl{min-height:408px;}
	/* 기대효과 */
	.loan5-tbl-con thead th{height:40px;font-size:15px}
	.loan5-tbl-con tbody th{height:98px;font-size:17px}
	.loan5-tbl-con td{height:32px;font-size:14px}
}
@media all and (max-width:800px){
	/* 기대효과 */
	.loan5 .circle-list-con.type{margin:0 -1%}
	.loan5 .circle-list-con.type li{width:31.33%;padding-bottom:31.33%;margin:2.5% 1% 0}
	.loan-tbl-con.type{margin-top:40px}
	/* 전체업무 구성도 */
	.loan5-circle-con ul{margin-top:-15px}
	.loan5-circle-con ul li{width:31.33%;margin:15px 1% 0;padding-bottom:31.33%}
	.loan5-list-con{margin:0}
	.loan5-list-con > li{float:none;width:auto;margin:20px 0}
	.loan5-list-con > li dl{min-height:auto !important}
	
}
@media all and (max-width:480px){
	/* 전체업무 구성도 */
	.loan5-circle-con ul li{font-size:16px}
	.loan5-list-con > li{font-size:16px}
	.loan5-list-con dl dd{padding:8px 15px}
}

/* -------- Business :: 종합수익관리시스템 -------- */
@media all and (max-width:1220px){
	.result-dl-con dl{float:none;width:auto}
	.result-dl-con dl + dl{float:none;width:auto;margin-top:30px}
	.result-dl-con dl dd{min-height:auto}
	.result-dl-con ul li{width:auto}
}
@media all and (max-width:1024px){
	.result-content .loan-tbl-con.type th{padding-left:30px}
}
@media all and (max-width:800px){
	.result-content .loan-tbl-con.type th{padding:0 15px}
	.result-content .loan-tbl-con.type br{display:none}
	.loan-tbl-con th em{display:inline-block;margin-top:4px;line-height:22px}
	.loan-txt-box br{display:none}
	/* 자금원가관리 */
	.intro-con-box{margin-top:30px}
	.intro-con-box .img-con {float:none; width:100%; height:auto;  background:none;}
	.intro-con-box .img-con .img-m {display:block;}
	.intro-con-box .img-con .img-m img {max-width:100%; width:100%;}
	.intro-con-box .txt-con {float:none; width:100%; height:auto; }
	.intro-con-box .txt-con .txt-con-inner  {padding:  20px;}
	.intro-con-box .txt-con p {font-size:15px; line-height:25px;}
	.intro-con-box .txt-con p br {display:none;}
	.intro-con-box .txt-con p.txt01,.intro-con-box .txt-con p.txt02 {font-size: 15px; line-height:25px;}
	.intro-con-box .txt-con p.txt02{margin-top:10px}
	.result-dl-con dl + dl{margin-top:15px}
	.result-dl-con dl dt{line-height:40px;font-size:18px}
	.result-dl-con ul li{padding-left:10px;font-size:16px}
	.result-dl-con ul li:after{top:8px;width:4px;height:4px}
	.result-dl-con{margin-top:15px}
}
@media all and (max-width:480px){
	.loan-tbl-con th em{margin-top:6px;line-height:18px}
	.result-content .loan-tbl-con.type th{padding:0 5px}
}
/* -------- Business :: 신용리스크관리시스템 -------- */
@media all and (max-width:800px){
	.result02 .loan-top-visual-txt2{width:auto}
	.result-list-con{margin-bottom:30px}
	.result-list-con ul li{padding:10px;font-size:15px}
}
@media all and (max-width:600px){
	.result-list-con ul{float:none;width:auto}
	.result-list-con ul + ul{float:none;width:auto}
	.result-list-con ul li{}
}
/* -------- Business :: 캐피탈 -------- */
@media all and (max-width:1220px){
	.capital01 .card-list-con2 > li,.capital02 .card-list-con2 > li,.capital05 .card-list-con2 > li{font-size:15px}
	.capital01 .card-list-con2 br,.capital02 .card-list-con2 br,.capital05 .card-list-con2 br{display:none}
	.capital01 .card-list-con2 > li strong,.capital02 .card-list-con2 > li strong,.capital05 .card-list-con2 > li strong{font-size:20px}
	.capital03 .loan5-list-con dl dt{font-size:20px}
	.capital03 .loan5-list-con dl dd{font-size:17px}
	.capital03 .loan5-list-con dl dd br{display:none}
	.person-info-con ul li{display:block}
	.person-info-con ul + ul{margin-top:30px}
}
@media all and (max-width:1024px){
	.capital-sign-inner > li{min-height:140px;}
	.capital-sign-inner > li > div{position:absolute;top:65px;left:20%}
	.capital-sign-inner > li > div span{width:60px;height:10px}
	.capital-sign-inner > li > ul{padding:0 0 0 70%}
	.capital-sign-inner > li > ul li{font-size:17px}
	.capital03 .loan5-list-con{margin:0 -1%}
	.capital03 .loan5-list-con > li{width:48%;margin:20px 1% 0}
	.capital03 .loan5-list-con dl dd br{display:block}
	.capital-type .loan-bottom-txt li{line-height:50px;font-size:20px}
}
@media all and (max-width:800px){
	.capital01 .loan-top-visual-txt2{width:100%}
	.capital01 .loan-txt-box{margin-top:30px}
	.capital-sign-inner > li > ul{padding:0 0 0 60%}
	.card-list-con-wrap{margin:0}
	.card-list-con-wrap .card-list-con2{margin:0}
	.card-list-con-wrap .card-list-con2 > li{height:auto}
	.card-list-con-wrap .card-list-con2 > li strong{margin-bottom:15px;font-size:18px}
	.ul-list-3col-wrap{margin-top:20px}
	.ul-list-3col > li > div p{font-size:18px}
	.capital03 .loan5-list-con{margin:0}
	.capital03 .loan5-list-con > li{width:100%;margin:10px 0 0}
	.capital03 .loan5-list-con dl dt{font-size:15px}
	.capital03 .loan5-list-con dl dd{font-size:15px;min-height:auto}
	.capital03 .loan5-list-con + .loan-txt-box{margin-top:60px}
	.person-info-con > dt{width:30%;font-size:17px}
	.person-info-con > dd{width:70%;font-size:15px}
	.person-info-con > dd > div{padding:10px 10px 10px 40px;}
	.person-info-con ul li{padding-right:0}
	.person-info-con ul li span{display:none}
	.capital-type .loan-bottom-txt li{line-height:40px;font-size:17px}
	.capital05 .loan5-list-con > li{width:auto}
}
@media all and (max-width:480px){
	.capital-sign-inner > li{float:none;width:100%}
	.capital-sign-inner > li:nth-child(2){float:none;margin-top:20px}
	.ul-list-3col-wrap{margin:10px -5px 0}
	.ul-list-3col{border-spacing:5px 0}
	.ul-list-3col > li > div p{font-size:13px}
	.capital03 .loan5-list-con + .loan-txt-box{margin-top:30px}
	.person-info-con > dt,.person-info-con > dd{float:none}
	.person-info-con > dt{padding-left:10px;height:auto;text-align:left;line-height:40px}
	.person-info-con > dd{width:100%;height:auto}
	.person-info-con > dd > div{padding:10px 10px 10px 20px;}
	.capital-type .loan-bottom-txt li{line-height:35px;font-size:15px}
	.capital-type .loan-bottom-txt.m4 li{width:49%;margin-top:5px}
}
/* -------- Business :: 보험,증권(방카슈랑스) -------- */
@media all and (max-width:1220px){
}
@media all and (max-width:800px){
	.stock-type2 .loan5-list-con > li{width:auto}
}
@media all and (max-width:480px){
	.stock .circle-list-con{margin:20px 0}
}

/* -------- Business :: 카드 -------- */
@media all and (max-width:1024px){
	.card-tab li a{font-size:16px}
}
@media all and (max-width:600px){
	.card-tab li a{font-size:12px}
	.card-txt{margin:30px 0 10px;font-size:18px}
}
@media all and (max-width:480px){
	.card-txt{font-size:15px}
}
/* -------- Business :: iFramework -------- */
@media all and (max-width:1220px){
	.rnd-desc-con .rnd-desc-img{width:300px;margin-right:30px}
	.rnd-desc-con .rnd-desc{margin-top:-5px;width:calc(100% - 332px);font-size:18px}
	.rnd .loan5-list-con.type > li{font-size:18px}
	.rnd .loan5-list-con.type dl dd br{display:none}
	.loan5-list-con.type2 > li{font-size:17px;}
}
@media all and (max-width:1024px){
	.rnd .loan5-list-con.type > li{float:none;width:auto}
	.rnd .loan5-list-con dl dd br{display:none}
}
@media all and (max-width:800px){
	.rnd-desc-con .rnd-desc-img{float:none;width:250px;margin:0 auto}
	.rnd-desc-con .rnd-desc{float:none;margin-top:20px;width:auto;font-size:16px;text-align:center;line-height:1.6}
	.arrow-iframe img{width:150px}
	.rnd-desc-con + .loan-txt-box,.rnd-desc-con + .img-box{margin-top:20px}
	.loan5-list-con.type2 > li{font-size:15px}
	.loan5-list-con.type2 dl dt{height:auto;min-height:auto}
	.loan5-list-con.type2 p{margin-bottom:2px;font-size:16px;line-height:40px}
	.img-box-client ul li{width:24%;}
}
@media all and (max-width:480px){	
	.rnd .loan5-list-con.type > li{font-size:15px}
	.rnd-desc-con .rnd-desc{font-size:14px}
	.arrow-iframe img{width:100px}
	.img-box-client ul li{width:49%;}
}
/* -------- Business :: IBK BOX -------- */
@media all and (max-width:1220px){
	.solution-con .solution-box dl dt,.solution-con .solution-box dl dd{font-size:15px}
	.ibkbox .loan5-list-con > li:nth-child(1) dl, .ibkbox .loan5-list-con > li:nth-child(2) dl, .ibkbox .loan5-list-con > li:nth-child(3) dl{min-height:250px}
	.ibkbox .loan5-list-con dl dd{font-size:18px}
	.ibkbox .loan5-list-con dl dd br{display:none}
}
@media all and (max-width:1024px){
	.solution-con .solution-tit{font-size:17px}
	.ibkbox .loan-top-visual-txt2{width:60%}
	.solution-con .solution-box{padding:30px}
	.solution-con .solution-box ul{margin:0}
	.solution-con .solution-box ul li{float:none;width:100%;margin:5px 0 0}
	.solution-con .solution-box dl dt{width:35%;padding-left:15px}
	.solution-con .solution-box dl dd{width:65%}
	.solution-con .solution-box dl dd span{padding-left:15px}
	.ibkbox-list-con .ibkbox-list-tit{line-height:50px}
	.ibkbox-list-con .ibkbox-list-box{min-height:auto;padding:15px}
	.ibkbox-list-con li{float:none;width:100%;margin:10px 0 0}
	.ibkbox-list-con .ibkbox-list-box p{text-align:center}
}
@media all and (max-width:800px){
	.solution-con .solution-tit{line-height:50px;}
	.ibkbox .img-box{margin-top:30px}
	.ibkbox .loan-top-visual-txt2{width:100%}
	.txt-type{font-size:15px}
	.loan-txt-box.arrow-bg{margin-top:50px}
	.loan-txt-box.arrow-bg:after{top:-30px;margin-left:-154px;width:308px;height:180px;background-size:310px auto}
}
@media all and (max-width:480px){
	.txt-type{margin-top:30px;font-size:13px}
	.ibkbox .loan-top-visual-txt1 br{display:none}
	.solution-con .solution-box dl dt,.solution-con .solution-box dl dd{float:none;width:100%;font-size:12px}
	.ibkbox-list-con .ibkbox-list-tit{line-height:40px;font-size:18px}
	.ibkbox-list-con .ibkbox-list-box p{font-size:16px}
}

/* -------- Business :: 금융기타 -------- */
@media all and (max-width:1220px){
	.client-box p{font-size:18px}
	.financial06 .loan5-list-con dl dd br{display:none}
}
@media all and (max-width:1024px){
	.financial .loan-tbl-con th{width:270px}
	.client-box p{font-size:16px}
	.finance-txt-box div p{font-size:17px}
	.finan-tx-list li{font-size:18px;line-height:65px}
}
@media all and (max-width:800px){
	.financial .loan-tbl-con th{width:230px}
	.client-box{margin:0}
	.client-box > li{float:none;width:100%;margin:5px 0 0}
	.client-box p{line-height:50px}
	.client-box div span img{width:85%}
	.finance-txt-box{margin-bottom:30px}
	.finance-txt-box div p{font-size:14px}
	.financial02 .loan-txt-box ul li{font-size:15px}
	.financial02 .ico-arrow-box.type{padding:0;margin:30px 0;background-size:100px auto;height:60px}
	.finance-interface-con{margin-top:30px;}
	.finance-interface-con p{line-height:50px;font-size:20px}
	.finance-interface-con ul li{line-height:80px;font-size:17px}
	.img-box + .img-box{margin-top:30px}
	.financial06 .loan5-list-con dl dd br{display:block}
	.financial07 .loan5-list-con > li{width:100%;margin:20px 0}
	.financial05 .loan5-list-con > li{width:100%}
	.finan-tx-list li{float:none;width:100%;margin:5px 0 0;font-size:16px;line-height:45px}
	.finan-tx-list li:nth-child(2):after,.finan-tx-list li:nth-child(3):after,.finan-tx-list li:nth-child(4):after{display:none}
	.financial05 .circle-list-con{margin-top:20px}
	.financial05 .circle-list-con li{width:15.6%;margin:0 0.5%;padding-bottom:15.6%;font-size:15px;letter-spacing:-0.5px}
	.financial05 .loan5-list-con.type > li{width:100%}
}
@media all and (max-width:600px){
	.financial07 .capital-type .loan-bottom-txt li{font-size:13px}
	.financial05 .circle-list-con li{margin:0 1% 10px;width:31.2%;padding-bottom:31.2%}
}
@media all and (max-width:480px){
	.financial .loan-tbl-con th{width:150px}
	.loan-txt-box ul li{float:none;width:100%;margin:5px 0 0}
	.financial02 .loan-txt-box p{margin-top:5px}
	.img-box + .img-box{margin-top:20px}
	.financial07 .capital-type .loan-bottom-txt li{float:none;width:100%;margin:5px 0 0;font-size:15px}
	.finan-tx-list li{font-size:14px;line-height:35px}
	.ico-arrow-box.type2,.ico-arrow-box.type3{height:38px;background-size:contain}
}

/* -------- Business :: 고객센터 -------- */
@media all and (max-width:1220px){
	.brguide .loan5-tbl-con tbody th{font-size:16px}
	.private-accordion .pri-acc-tab{padding:15px 40px 15px 15px}
	.private-accordion .pri-acc-box{padding:15px 40px 50px 15px}
	.private-accordion .pri-acc-tab:after{right:20px}
	.benefit-con-list .inner-con{margin:0}
	.benefit-con-list .inner-con li{float:none;margin:20px 0 0;width:auto}
	.benefit-con-list .inner-con dl{display:table;width:100%;padding:40px 0;box-sizing:border-box;min-height:auto;text-align:left;}
	.benefit-con-list .inner-con dt{display:table-cell;width:162px;padding-left:40px;vertical-align:middle}
	.benefit-con-list .inner-con dt img{height:90px}
	.benefit-con-list .inner-con dd{display:table-cell;vertical-align:middle}
	.benefit-con-list .inner-con dd br{display:none}
	.benefit-con-list .bene-txt-box{padding-right:40px}
	.benefit-con-list .bene-txt-box .bene-txt1{margin-top:0}
	.benefit-con-list .bene-txt-box .bene-txt1:after{left:0;right:0}
}
@media all and (max-width:1024px){
	.brguide .loan5-tbl-con tbody th{font-size:14px}
	.talent-top-visual-txt1{font-size:30px}
	.talent-top-visual-txt2{font-size:30px}
	.talent-txt-box .talent-txt{padding-left:50px}
	.tal-txt1{font-size:22px}
	.tal-txt2{font-size:20px}
	.person .loan-top-visual{padding:50px 0 50px 60px}
}
@media all and (max-width:800px){
	.brguide .sub-top-tit.mg{margin-top:50px}
	#loginContent{margin-top:40px}
	.login-box{max-width:350px;padding:60px 40px}
	.inp-area{width:calc(100% - 65px)}
	.inp-box + .inp-box{margin-top:5px}
	.inp-box label,.inp-box input,.btn-login{font-size:14px}
	.inp-box label{width:65px;line-height:32px}
	.inp-box input{width:calc(100% - 87px);padding:5px 10px;line-height:20px;height:20px}
	.btn-login{margin-left:5px;width:60px;line-height:69px}
	.report-txt-area{margin:20px 0;}
	.txt-type2{font-size:14px}
	.txt-type3{font-size:14px}
	.report .sub-tab01-list li a{padding:12px 5px}
	.pri-tit,.pri-desc,.pri-tbl th,.pri-tbl td{font-size:14px}
	.private-accordion .pri-acc-tab{font-size:16px}
	.private-accordion .pri-acc-box{padding:15px 0 30px}
	.view-area th,.view-area td.writer-area{padding-left:30px}
	.view-area td.file-area{padding-left:30px}
	.view-area th{font-size:17px}
	.view-area td.view-area{padding:40px 20px}
	.view-area td .wri-txt{margin-right:20px;font-size:15px}
	.view-area td .wri-txt em{margin-right:6px}
	.view-area td.file-area .file-box{width:calc(100% - 80px)}
	.view-area td.file-area .file-box .file-down{font-size:13px}
	.view-area .cm-btn-controls a + a{margin-left:0}
	.talent-top-visual-txt1{font-size:20px}
	.talent-top-visual-txt2{font-size:20px}
	.talent-txt-box .ico{display:block;margin:0 auto}
	.talent-txt-box .talent-txt{display:block;margin-top:30px;padding-left:0;text-align:center}
	.tal-txt1{font-size:22px}
	.tal-txt2{font-size:20px}
	.person .loan-top-visual{padding:40px 0 40px 30px}
	.person-top-visual-txt1{font-size:20px;}
	.person-top-visual-txt1 span{font-size:16px}
	.comment-con li{height:50px;font-size:15px}
	.comment-con li:first-child{width:20%}
	.comment-con li:last-child{width:80%}
}
@media all and (max-width:600px){
	.brguide .loan5-tbl-con tbody th,.brguide .loan5-tbl-con tbody td{height:50px;font-size:12px}
	.brguide .loan5-tbl-con tbody td{padding:0 5px}
	.brguide .loan5-tbl-con thead th{font-size:14px}
	.benefit-con-list .inner-con dt img{height:60px}
	.benefit-con-list .benefit-con-tit{font-size:22px}
	.benefit-con-list .inner-con dl{padding:30px 0}
	.benefit-con-list .inner-con dt{width:112px;padding-left:20px}
	.benefit-con-list .bene-txt-box .bene-txt1{font-size:18px;padding-bottom:5px}
	.benefit-con-list .bene-txt-box .bene-txt2{margin-top:10px;font-size:15px}
}
@media all and (max-width:480px){
	.login-box{padding:40px 20px}
	.inp-box input{width:calc(100% - 77px)}
	.inp-box label,.inp-box input,.btn-login{font-size:12px}
	.inp-box label{width:55px}
	.pri-tit,.pri-desc,.pri-tbl th,.pri-tbl td{font-size:12px}
	.private-accordion .pri-acc-tab{font-size:15px}
	.private-accordion .pri-acc-tab{padding:10px 40px 10px 15px}
	.private-accordion .txt-type2{font-size:12px}
	.pri-tit{margin-top:20px}
	.pri-tbl table{margin-top:25px}
	.view-area th,.view-area td.writer-area{padding-left:20px;padding-right:0}
	.view-area td.file-area{padding-left:20px}
	.view-area td.file-area .wri-txt{margin-right:10px}
	.view-area td.file-area .file-box{margin-top:0;width:calc(100% - 60px)}
	.view-area td.file-area .file-box .file-down{font-size:12px}
	.btn-type{font-size:12px;padding:0 10px;line-height:30px}
	.view-area th{font-size:15px}
	.view-area td .wri-txt{margin-right:10px;font-size:12px}
	.view-area td .wri-txt em{margin-right:0}
	.view-area .cm-btn-controls a{width:60px}
	.talent-top-visual-txt1{font-size:16px}
	.talent-top-visual-txt2{font-size:16px}
	.talent-txt-box{margin-top:50px}
	.talent-txt-box .ico{width:140px;height:140px;background-size:140px auto}
	.tal-txt1{font-size:17px}
	.tal-txt2{font-size:15px}
	.person .tal-txt1{margin-top:30px}
	.person .loan-top-visual{padding:40px 20px 40px 20px}
	.person-top-visual-txt1{font-size:15px;line-height:1.4}
	.person-top-visual-txt1 span{font-size:15px}
	.person-top-visual-txt1 br{display:none}
	.benefit-con-list{margin-top:50px}
	.benefit-con-list .inner-con dl{padding:20px 0}
	.benefit-con-list .inner-con dt{width:75px}
	.benefit-con-list .inner-con dt img{height:40px}
	.benefit-con-list .benefit-con-tit{font-size:18px}
	.benefit-con-list .bene-txt-box .bene-txt1{font-size:14px;letter-spacing:-1px;font-weight:700}
	.benefit-con-list .bene-txt-box .bene-txt2{font-size:12px}
	.comment-con li{height:35px;font-size:12px}
	.comment-con li:last-child{padding-left:20px}
}

/* ****************** Company  ********************** */
/* -------- Compay :: 회사소개 -------- */
@media all and (max-width:1220px){
	/* ceo greeting :: 상단 */
	.ceo-top-content .ceo-top-txt{margin-bottom:20px;}
	.ceo-top-content .ceo-photo-con{right:0px; top:80px;}
	.ceo-top-content .ceo-photo-con img{width:345px}
	/* ceo greeting :: 하단 */
	.ceo-bottom-content .ceo-bottom-txt1 br,
	.ceo-bottom-content .ceo-bottom-txt2 br{display:none}
	.ceo-bottom-content .ceo-txt-con{padding:22px 28px}
	.ceo-bottom-content .ceo-txt-con p{font-size:22px}
	.ceo-bottom-content .ceo-txt-con .ceo-sign .ceo-name{margin-right:-14px}
	.ceo-bottom-content .ceo-txt-con .ceo-sign .ceo-name span{letter-spacing:13px}
}
@media all and (max-width:800px){
	/* ceo greeting :: 상단 */
	.ceo-top-content .bg_logo{top:50%;left:50%;margin-left:-150px;opacity:0.1;filter:alpha(opacity=10)}
	.ceo-top-content{text-align:center; margin-bottom:30px; padding-top:0}
	.ceo-top-content .ceo-top-txt{font-size:24px}
	/* ceo greeting :: 하단 */
	.ceo-bottom-content{margin-bottom:25px; text-align:center; }
	.ceo-bottom-content .ceo-bottom-txt1,
	.ceo-bottom-content .ceo-bottom-txt2{font-size:15px;margin:30px 0}
	.ceo-bottom-content .ceo-bottom-txt1{padding-right:0}
	.ceo-bottom-content .ceo-bottom-txt2{/* font-size:19px; */ margin:30px 0;}
	.ceo-bottom-content .ceo-bottom-txt1 span{margin-top:20px}
	.ceo-bottom-content .ceo-txt-con{padding:8px 15px;margin-top:40px}
	.ceo-bottom-content .ceo-txt-con p{font-size:16px}
	.ceo-bottom-content .ceo-txt-con .ceo-txt{float:none;width:auto;padding-right:0}
	.ceo-bottom-content .ceo-txt-con .ceo-sign{float:none;margin-top:25px;width:auto;text-align:center}
	.ceo-bottom-content .ceo-txt-con .ceo-sign .ceo-name{margin-right:-8px}
	.ceo-bottom-content .ceo-txt-con .ceo-sign .ceo-name span{letter-spacing:7px}
}
@media all and (max-width:480px){
	/* ceo greeting :: 상단 */
	.ceo-top-content .bg_logo{width:200px;background-size:200px;margin-left:-100px;}
	.ceo-top-content .ceo-top-txt{font-size:18px}
	.ceo-top-content .ceo-top-txt br{display:none}
	/* ceo greeting :: 하단 */
	.ceo-bottom-content .ceo-txt-con p br{display:none}
}

/* -------- Compay :: 조직도 -------- */
@media all and (max-width:1024px){
	.organization .org-tit2,.organization .org-tit3,.organization .org-tit4,.organization .org-team li,.organization .org-type li{font-size:18px}
	.organization .org-tit2{width:280px}
	.organization .org-tit{width:200px;height:180px;line-height:180px;font-size:25px}
}
@media all and (max-width:800px){
	.organization .org-tit2,.organization .org-tit3,.organization .org-tit4,.organization .org-team li,.organization .org-type li{font-size:14px}
	.organization .org-tit{width:160px;height:140px;line-height:140px;font-size:22px}
	.organization .org-tit2{width:200px;line-height:55px}
	.organization .org-team{margin-top:10px}
}
@media all and (max-width:600px){
	.organization .org-tit{width:100%;border-radius:0;height:auto;line-height:45px;font-size:17px}
	.organization .org-tit:after{display:none}
	.organization .org-type{position:static;width:auto;margin-top:20px}
	.organization .org-type li{max-width:none}
	.organization .org-type li:first-child:after{display:none}
	.organization .org-type li:last-child{margin-top:5px}
	.organization .org-tit2{width:200px;line-height:45px}
	.organization .org-list{margin-top:20px}
	.organization .org-list.type1,.organization .org-list.type2{float:none;width:auto}
	.organization .org-tit2{width:auto}
	.organization .org-tit2:before,.organization .org-tit2:after,.organization .org-div:before,.organization .org-tit3:after{display:none}
	.organization .org-div{margin-top:10px}
	.organization .org-tit3{margin-bottom:0}
	.organization .org-team li{font-size:12px}
	.organization .org-tit4{font-size:14px !important}
	.organization .org-list.type2{margin-top:50px}
}

/* -------- Compay :: 비전 -------- */
@media all and (max-width:1220px){
	/* 비전 :: 공통 */
	.vision-container img{max-width:100%;}
	/* 비전 :: 하단리스트 */
	.vision-con-list dl dt{width:300px;font-size:24px}
	.vision-con-list dl dd{width:calc(100% - 320px);padding-left:20px;font-size:20px}
}
@media all and (max-width:800px){
	/* 비전 :: 공통 */
	.vision-container{padding-bottom:50px}
	/* 비전 :: VISION */
	.vision-top-txt{font-size:17px; margin-bottom:40px;line-height:28px}
	.vision-top-con{padding:35px 5% 30px 5%; margin-bottom:85px; background-size:cover;}
	.vision-top-con:after{bottom:-40px}
	.vision-top-con p{font-size:18px}
	.vision-top-con p br{display:none}
	.vision-top-con p span{display:block;text-indent:0;font-size:22px}
	/* 비전 :: 하단리스트 */
	.vision-con-list{margin-top:50px}
	.vision-con-list dl{padding:16px 20px}
	.vision-con-list dl dt,.vision-con-list dl dd{float:none;width:auto}
	.vision-con-list dl dt{text-align:left;font-size:17px}
	.vision-con-list dl dd{font-size:14px;padding-left:0;line-height:1.4}
}

/* -------- Compay :: 연혁 -------- */
@media all and ( max-width:1024px ){
	.history-tab{margin:0}
	.history-tab li a{font-size:24px;padding-top:0}
	.history-tab-container{margin-top:80px}
	.history-year-list-con{padding:10px 0}
    .history-list-box .history-year-box{padding-left:0}
	.history-list-box .history-year-box:before{top:65px;left:120px;}
    .history-list-box .history-year-box h4{position:relative; left:auto; top:auto; margin-bottom:25px; font-size:28px;}
    .history-list-box .history-year-box h4 br{display:none}
    .history-list-box .history-year-box h4 span{display:initial;text-indent:0}
    .history-list-box .history-year-box .history-year-item:before{font-size:80px}
    .history-list-box .history-year-box .history-year-item .history-info-con p{font-size:18px}
	.history-list-box .history-year-box .history-year-item .history-info-con p span:after{top:9px}
	.history-list-box .history-year-box .history-year-item .history-year strong{font-size:28px}
	.history-list-box .history-year-box .history-img-box{display:none}
}
@media all and ( max-width:800px ){
    .history-tab br{display:block}
	.history-tab li a{min-height:48px}
	/* .history-tab li:nth-child(2) a{line-height:48px} */
}
@media all and ( max-width:480px ){
	.history-tab li a{font-size:20px}
    .history-list-box .history-year-box{margin-bottom:50px}
	.history-list-box .history-year-box:before{top:55px;left:60px;}
    .history-list-box .history-year-box h4{font-size:20px;}
    .history-list-box .history-year-box .history-year-item .history-year{width:60px;}
    .history-list-box .history-year-box .history-year-item .history-year strong{font-size:17px}
    .history-list-box .history-year-box .history-year-item:before{left:60px}
    .history-list-box .history-year-box .history-year-item .history-info-con{padding-left:65px; }
    .history-list-box .history-year-box .history-year-item:last-child .history-info-con{padding-bottom:0}
    .history-list-box .history-year-box .history-year-item .history-info-con p{font-size:13px}
	.history-list-box .history-year-box .history-year-item .history-info-con p span:after{top:6px}
}

/* -------- Company :: 사업장소개 -------- */
@media all and ( max-width:1024px ){
	.location-container .sub-tab01-list{width:100%}
}
@media all and ( max-width:800px ){
	#locationContent{padding:0}
	.location-wrapper{padding-top:45px}
	.location-txt-con{margin-bottom:40px}
	.location-txt-con .location-txt1{font-size:17px}
	.location-txt-con .location-txt2{font-size:14px}
	.sub-tab-wrap{margin-bottom:30px}
	 /* 사업장소개 :: 지도 */
    .map-wrapper{margin-bottom:30px}
	/* 사업장소개 :: 테이블 */
	.map-tbl-left-img{display:none}
	.map-tbl{float:none; width:100%}
    .map-tbl th,.map-tbl td{padding:15px 10px; font-size:13px; line-height:1.5; vertical-align:top;}
	.map-tbl th{width:70px;}
}

/* -------- Company :: 경영철학 -------- */
@media all and ( max-width:1220px ){
	.philosophy-tab .sub-tab01-list li span:nth-child(2){font-size:18px}
}
@media all and ( max-width:1024px ){
	.philosophy-tab .sub-tab01-list li a{height:auto;padding:10px 0}
	.philosophy-tab .sub-tab01-list li span:first-child,
	.philosophy-tab .sub-tab01-list li span:nth-child(2){display:block;position:static;text-align:center;line-height:1.5}
	.philosophy-tab .sub-tab01-list li span:first-child{}
	.philosophy-tab .sub-tab01-list li span:nth-child(2){font-size:14px;}
}
@media all and ( max-width:800px ){
	#philosophyContent{padding-bottom:30px}
	.philosophy-tab{margin-top:30px}
	.philosophy-tab .sub-tab01-list li a{height:auto}
	.philosophy-tab .sub-tab01-list li span:first-child{font-size:15px}
	.philosophy-tab .sub-tab01-list li span:nth-child(2){display:none}
	.philosophy-list-box{margin-top:45px}
	.philosophy-list-box p{font-size:17px}
	.philosophy-list-box dl{margin-top:40px}
	.philosophy-list-box dl + dl{margin-top:30px}
	.philosophy-list-box dl dt{font-size:15px;}
	.philosophy-list-box dl dd{font-size:14px}
}
